In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/gennalll/.local/lib/python3.8/site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/gennalll/.local/lib/python3.8/site-packages (from sqlalchemy) (1.1.2)

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/gennalll/.local/lib/python3.8/site-packages (2.9.3)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': '', # имя пользователя
            'pwd': '', # пароль
            'host': '',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [4]:
query = '''
           SELECT *
           FROM dash_visits
        '''

In [5]:
logs_raw=pd.io.sql.read_sql(query, con = engine) 
logs_raw.to_csv('log_raw.csv', index = False)
logs_raw.head(5)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [6]:
logs_raw.shape # Кол-во записей.

(30745, 6)

In [7]:
logs_raw.columns # столбцы.

Index(['record_id', 'item_topic', 'source_topic', 'age_segment', 'dt',
       'visits'],
      dtype='object')

In [8]:
# Функция для анализа столбцов.
def series_analiser(series):
    print("________________","________________")
    print(series.name)
    try: 
        print(f"Для этого столбца Среднеее значение:{series.mean()}" + "\n" + f"Максимальное значение: {series.max()}"+ "\n" + f"Минимальное значение: {series.min()}"+ "\n" + f"Всего наблюдений: {series.count()}" + "\n" + f"Уникальные значения: {series.unique()}"+ "\n" + f"Пропущенные значения: {series.isna().sum()}")
    except:
        print(f"Для этого столбца" + "\n" f"Всего наблюдений: {series.count()}" + "\n" + f"Уникальные значения: {series.unique()}" + "\n" + f"Пропущенные значения: {series.isna().sum()}")

def data_analiser(data):
    for i in data.columns:
        series_analiser(data[i])

In [9]:
data_analiser(logs_raw)

________________ ________________
record_id
Для этого столбца Среднеее значение:1055969.0
Максимальное значение: 1071341
Минимальное значение: 1040597
Всего наблюдений: 30745
Уникальные значения: [1040597 1040598 1040599 ... 1071339 1071340 1071341]
Пропущенные значения: 0
________________ ________________
item_topic
Для этого столбца
Всего наблюдений: 30745
Уникальные значения: ['Деньги' 'Дети' 'Женская психология' 'Женщины' 'Здоровье' 'Знаменитости'
 'Интересные факты' 'Искусство' 'История' 'Красота' 'Культура' 'Наука'
 'Общество' 'Отношения' 'Подборки' 'Полезные советы' 'Психология'
 'Путешествия' 'Рассказы' 'Россия' 'Семья' 'Скандалы' 'Туризм' 'Шоу'
 'Юмор']
Пропущенные значения: 0
________________ ________________
source_topic
Для этого столбца
Всего наблюдений: 30745
Уникальные значения: ['Авто' 'Деньги' 'Дети' 'Еда' 'Здоровье' 'Знаменитости' 'Интерьеры'
 'Искусство' 'История' 'Кино' 'Музыка' 'Одежда' 'Полезные советы'
 'Политика' 'Психология' 'Путешествия' 'Ремонт' 'Россия' 'Сад и дача'
 'Сделай сам' 'Семейные отношения' 'Семья' 'Спорт' 'Строительство'
 'Технологии' 'Финансы']
Пропущенные значения: 0
________________ ________________
age_segment
Для этого столбца
Всего наблюдений: 30745
Уникальные значения: ['18-25' '26-30' '31-35' '36-40' '41-45' '45+']
Пропущенные значения: 0
________________ ________________
dt
Для этого столбца Среднеее значение:2019-09-24 18:50:42.982598656
Максимальное значение: 2019-09-24 19:00:00
Минимальное значение: 2019-09-24 18:28:00
Всего наблюдений: 30745
Уникальные значения: ['2019-09-24T18:32:00.000000000' '2019-09-24T18:35:00.000000000'
 '2019-09-24T18:54:00.000000000' '2019-09-24T18:55:00.000000000'
 '2019-09-24T18:56:00.000000000' '2019-09-24T18:57:00.000000000'
 '2019-09-24T18:58:00.000000000' '2019-09-24T18:59:00.000000000'
 '2019-09-24T19:00:00.000000000' '2019-09-24T18:29:00.000000000'
 '2019-09-24T18:30:00.000000000' '2019-09-24T18:31:00.000000000'
 '2019-09-24T18:52:00.000000000' '2019-09-24T18:33:00.000000000'
 '2019-09-24T18:53:00.000000000' '2019-09-24T18:28:00.000000000'
 '2019-09-24T18:34:00.000000000']
Пропущенные значения: 0
________________ ________________
visits
Для этого столбца Среднеее значение:10.089673117580094
Максимальное значение: 371
Минимальное значение: 1
Всего наблюдений: 30745
Уникальные значения: [  3   1   4  17  27  22  24  20   5  13  18  15  10   9  14  11   6   8
   7   2  23  33  66  72  71  61  12  25  42  30  16  21  38  43  44  19
  79  74  82  47  46  57  29  34  31  51  98  89  41  77  96  86  85  35
  32  36  28  60  63  55  65 101  92  95  26  56  49  54  69  78  75  68
  50  94 119 111  53  58  59  45  40 165 164 136 128  48  39  52  37  88
 133 106 108 149 169 178 153  64  70  80  83 102  90 142 152 182 143  73
 104  62  67 121 209 228 218 183  76 186 200 206 219  84 185 207 100 110
 105 202 184 168 132 126 211 197 180 113 107 115 103 141 235 177  91 123
 135 116 125 127  97 130 114  99  87 139 145 147 124 137 264 276 231 112
 163 138 158 160 166 155 118  81 120 109 173 266 331 291 324 144 190 201
 216 175 170 199 192 117 256 297 283 236 194 171  93 210 240 243 134 151
 129 176 225 349 364 371 312 161 167 270 246 232 181 146]
Пропущенные значения: 0